<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Events App</title>
    <link rel="stylesheet" href="/css/admin_panel_page_style.css">
</head>
<body>
<div class="admin-container">
    <h1>Panel Administratora</h1>
    <div class="admin-actions">
        <a href="/admin/upload-images" class="admin-btn">Dodaj nowe wydarzenie</a>
        <a href="/admin/edit-slider" class="admin-btn">Edytuj slider</a>
        <a href="/main_page" class="admin-btn">Powrót na stronę główną</a>
    </div>
</div>
</body>
</html>