<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/edit_slider_page_style.css}">
    <title>Events App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" th:each="crumb : ${breadcrumb}">
            <a th:href="${crumb.url}" th:text="${crumb.name}">Link</a>
        </li>
    </ol>
</nav>
<h1>Edytuj zdjęcia w sliderze</h1>
<form id="sliderForm" th:action="@{/slider/update}" method="post">
    <div id="sortable" class="slider-container">
        <div class="slider-item" th:each="image : ${allImages}" th:data-id="${image.id}">
            <img th:src="@{/slider/image/{id}(id=${image.id})}" alt="Obraz">
            <label>
                <input type="checkbox" name="selectedImages" th:value="${image.id}" th:checked="${image.inSlider}">
                Dodaj do slidera
            </label>
        </div>
    </div>
    <input type="hidden" name="imageOrder" id="imageOrder">
    <button type="submit" class="save-button">Zapisz</button>

</form>
<a href="/admin_panel" class="admin-btn">Powrót do panelu administratora</a>

<script>
    $(document).ready(function () {
        $("#sortable").sortable({
            update: function () {
                let order = $("#sortable .slider-item").map(function () {
                    return $(this).data("id");
                }).get().join(",");
                $("#imageOrder").val(order);
            }
        });

        $("#sliderForm").submit(function () {
            let order = $("#sortable .slider-item").map(function () {
                return $(this).data("id");
            }).get().join(",");
            $("#imageOrder").val(order);
        });
    });
</script>
</body>
</html>
