<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Events App</title>
    <link rel="stylesheet" href="/css/admin_panel_page_style.css">
</head>
<body>
<div class="admin-container">
    <h1>Panel moderatora</h1>
    <div class="admin-actions">
        <a href="/admin/create-event-page" class="admin-btn">Dodaj nowe wydarzenie</a>
        <a href="/events" class="admin-btn">Edytuj wydarzenia</a>
        <a href="/admin/upload-images-to-database" class="admin-btn">Dodaj zdjęcia do bazy</a>
        <a href="/admin/approve-comments" class="admin-btn">Akceptuj komentarze</a>
        <a href="/main_page" class="admin-btn">Powrót na stronę główną</a>
    </div>
</div>
</body>
</html>